{% extends 'CooperativeBundle::baseconsomacteur.html.twig' %}

{% block body -%}
    <h1>Consomacteur creation</h1>

<form action="{{path('produit') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-lg-1">
            {{ (form_label(form.idConsomacteur)) }}
        </div>
        <div>
            {{ (form_errors(form.idConsomacteur)) }}
            {{ (form_widget(form.idConsomacteur)) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            {{ (form_label(form.joursLivraison)) }}
        </div>
        <div>
            {{ (form_errors(form.joursLivraison)) }}
            {{ (form_widget(form.joursLivraison)) }}
        </div>
    </div>


    {{ form_widget(form.submit,{attr:{"class": "btn btn-primary"}}) }}

    {{ form_rest(form) }}

    <a class="btn btn-primary" href="{{ path('consomacteur') }}">
        Back to the list
    </a>

{% endblock %}
