{% extends 'CooperativeBundle::baseproduit.html.twig' %}

{% block body -%}
    <h1>Produit list</h1>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idproduit</th>
                <th>Nomproduit</th>
                <th>Typeproduit</th>
                <th>Dispoproduit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idProduit }}</td>
                <td>{{ entity.nomProduit }}</td>
                <td>{{ entity.typeProduit }}</td>
                <td>{{ entity.dispoProduit }}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-primary" href="{{ path('produit_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a class="btn btn-primary" href="{{ path('produit_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('produit_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
