{% extends 'CooperativeBundle::baseadmin.html.twig' %}

{% block body -%}
    <h1>Admin list</h1>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idadmin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idAdmin }}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-primary" href="{{ path('admin_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a class="btn btn-primary" href="{{ path('admin_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
