{% extends 'CooperativeBundle::baseadmin.html.twig' %}

{% block body -%}
    <h1>Admin creation</h1>

<form action="{{path('produit') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-lg-1">
            {{ (form_label(form.idAdmin)) }}
        </div>
        <div>
            {{ (form_errors(form.idAdmin)) }}
            {{ (form_widget(form.idAdmin)) }}
        </div>
    </div>



    {{ form_widget(form.submit,{attr:{"class": "btn btn-primary"}}) }}

    {{ form_rest(form) }}

    <a class="btn btn-primary" href="{{ path('admin') }}">
        Back to the list
    </a>

{% endblock %}
